/* Write your code here. */
.result-container {
  display: flex;
  padding: 30px;
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.22);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  margin-top: 50px;
}
.score-result-card {
  align-self: center;
  color: #ffffff;
}
.result-heading {
  font-size: 48px;
  margin-bottom: 0px;
}
.result-score-card {
  display: flex;
  flex-direction: column;
}
.score-heading {
  margin-bottom: 0px;
  font-size: 28px;
  text-align: center;
}
.result-score {
  margin-top: 0px;
  text-align: center;
  color: #6a59ff;
  font-size: 36px;
  font-weight: bold;
}
.play-again-btn-card {
  display: flex;
  justify-content: center;
}
.play-again-btn {
  font-weight: 700;
  color: black;
  padding: 15px;
  border: 0px solid;
  border-radius: 15px;
  background-color: #ffce27;
  cursor: pointer;
}
.won-game-img {
  width: 250px;
}
