/* Write your CSS code here */
.navbar-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2% 0% 2% 0%;
  width: 100%;
}
.navbar-logo {
  width: 150px;
}
.navbar-options-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  padding-left: 0px;
}
.option-card {
  display: flex;
  align-items: center;
  margin-right: 20px;
}
.navbar-option-logo {
  width: 20px;
  height: 20px;
  margin-left: 7px;
}
.logout-btn {
  font-size: 12px;
  color: #ffffff;
  background-color: #0967d2;
  padding: 8px;
  border: 0px solid;
  border-radius: 5px;
  cursor: pointer;
}
