/* Write your code here. */
.navbar-container {
  display: flex;
  justify-content: space-around;
  color: #ffffff;
  background: rgba(255, 255, 255, 0.22);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.logo-card {
  display: flex;
  align-items: center;
}
.emoji-logo {
  width: 50px;
  height: 50px;
}
.logo-name {
  font-size: 26px;
}
.score-card {
  display: flex;
}
.score {
  margin-right: 25px;
  font-size: 22px;
}
.top-score {
  font-size: 22px;
}
.plain-card {
  width: 220px;
}